@keyframes FadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes FadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes SlideUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes SlideDown {
    from {
        opacity: 0;
        transform: translateY(0);
    }

    to {
        opacity: 1;
        transform: translateY(100%);
    }
}

@keyframes SlideLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes SlideRight {
    from {
        opacity: 0;
        transform: translateX(0);
    }

    to {
        opacity: 1;
        transform: translateX(100%);
    }
}

@keyframes SlideInLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes SlideOutLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}



.fadeIn1 {
    animation: FadeIn 1s forwards;
}

.fadeIn2 {
    animation: FadeIn 2s forwards;
}

.fadeIn3 {
    animation: FadeIn 3s forwards;
}

.fadeIn4 {
    animation: FadeIn 4s forwards;
}

.fadeIn5 {
    animation: FadeIn 5s forwards;
}

.fadeOut1 {
    animation: FadeOut 1s forwards;
}

.fadeOut2 {
    animation: FadeOut 2s forwards;
}

.fadeOut3 {
    animation: FadeOut 3s forwards;
}

.fadeOut4 {
    animation: FadeOut 4s forwards;
}

.fadeOut5 {
    animation: FadeOut 5s forwards;
}

.slideUp1 {
    animation: SlideUp 1s forwards;
}

.slideUp2 {
    animation: SlideUp 2s forwards;
}

.slideUp3 {
    animation: SlideUp 3s forwards;
}

.slideUp4 {
    animation: SlideUp 4s forwards;
}

.slideUp5 {
    animation: SlideUp 5s forwards;
}

.slideDown1 {
    animation: SlideDown 1s forwards;
}

.slideDown2 {
    animation: SlideDown 2s forwards;
}

.slideDown3 {
    animation: SlideDown 3s forwards;
}

.slideDown4 {
    animation: SlideDown 4s forwards;
}

.slideDown5 {
    animation: SlideDown 5s forwards;
}

.slideLeft1 {
    animation: SlideLeft 1s forwards;
}

.slideLeft2 {
    animation: SlideLeft 2s forwards;
}

.slideLeft3 {
    animation: SlideLeft 3s forwards;
}

.slideLeft4 {
    animation: SlideLeft 4s forwards;
}

.slideLeft5 {
    animation: SlideLeft 5s forwards;
}

.slideRight1 {
    animation: SlideRight 1s forwards;
}

.slideRight2 {
    animation: SlideRight 2s forwards;
}

.slideRight3 {
    animation: SlideRight 3s forwards;
}

.slideRight4 {
    animation: SlideRight 4s forwards;
}

.slideRight5 {
    animation: SlideRight 5s forwards;
}

.menuSlide {
    animation: SlideInLeft 0.5s forwards;
}

.menuClose {
    animation: SlideOutLeft 0.5s forwards;
}

.overlayFadeIn {
    animation: FadeIn 0.5s forwards;
}

.overlayFadeOut {
    animation: FadeOut 0.5s forwards;
}


@keyframes expandWidth {
    0% {
        clip-path: inset(0 100% 0 0);
        /* Start with 0% width */
    }

    100% {
        clip-path: inset(0 0% 0 0);
        /* Expand to 100% width */
    }
}

.expand-text-animation {
    animation: expandWidth 0.5s ease-out forwards;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.blink {
    animation: blink 2s infinite;
}

@keyframes CardSlideOpen {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes CardSlideClose {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

.card-slide {
    animation: CardSlideOpen 0.5s forwards;
}

.card-slide-close {
    animation: CardSlideClose 0.5s forwards;
}